@model IEnumerable<StudentsManagement.Domain.Activity>
@using StudentsManagement.Core.Shared

@{
    ViewData["Title"] = "Activities";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
@*Activities:
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }

    </ul>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
