@model StudentActivityMenagement.Models.ActivityViewModel.TeacherActivityViewModel
@{
    ViewData["Title"] = "Activity";
}

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>

                <tr>
                    <th scope="col" rowspan="2">Student Name</th>
                    @for (int i = 0; i < Model.ScheduleEntries.Count(); i++)
                    {
                        <th scope="col" colspan="3">@ViewData["Name"] @i</th>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < Model.ScheduleEntries.Count(); i++)
                    {
                        <th scope="col">Grade</th>
                        <th scope="col">Attendance</th>
                        <th scope="col"></th>
                    }

                </tr>
            </thead>
            <tbody>
                @{
                    int lower = 0;
                    int upper = Model.ScheduleEntries.Count();
                }
                @for (var iterator = 0; iterator < Model.StudentsOnActivity.Count(); iterator++)
                {
                    <tr>
                        <th scope="row" rowspan="2">@Model.StudentsOnActivity.ElementAt(iterator).Name</th>
                    </tr>

                    <tr>
                        @for (int i = lower; i < upper; i++)
                        {
                            // if (Model.ActivityInfos.Count() > i)
                            {

                                @if (Model.ActivityInfos.ElementAt(i).Attendance != 0)
                                {
                                    <th scope="row">@Model.ActivityInfos.ElementAt(i).Grade</th>
                                }
                                else
                                {
                                    <th scope="row">-</th>
                                }
                                @*<th scope="row">@Model.ActivityInfos.ElementAt(i).Attendance</th>*@
                                @if (Model.ActivityInfos.ElementAt(i).Attendance != 0)
                                {
                                    <th scope="row">Yes</th>
                                }
                                else
                                {
                                    <th scope="row">No</th>
                                }
                                <td>
                                    <a asp-route="EditGrades" asp-route-id="@Model.ActivityInfos.ElementAt(i).Id">Edit</a>
                                </td>
                            }

                        }

                    </tr>
                    lower = upper;
                    upper += Model.ScheduleEntries.Count();
                }

            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}