@model StudentActivityMenagement.Models.ActivityViewModel.ActivityViewModel
@{
    ViewData["Title"] = "Activity";
}
<h3>@ViewData["Title"] @Model.Name</h3>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" rowspan="2">Student Name</th>
                    <th scope="col" colspan="2">Activity 1</th>
                <tr>
                    <th scope="col">Grade</th>
                    <th scope="col">Attendance</th>
                </tr>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" rowspan="2">Student Name</th>
                <tr>
                    <th scope="row">10</th>
                    <th scope="row">yes</th>
                    <td>
                        <a asp-action="Edit" asp-route-id="@Model.IdActivities[iterator]">Edit</a> |
                        <a asp-action="Details" asp-route-id="@Model.IdActivities[iterator]">Details</a> |
                        <a asp-action="Delete" asp-route-id="@Model.IdActivities[iterator]">Delete</a>
                    </td>
                </tr>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}