@model StudentActivityMenagement.Models.ActivityViewModel.TeacherActivityViewModel
@{
    ViewData["Title"] = "Activity";
}

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>

                <tr>
                    <th scope="col" rowspan="2">Student Name</th>
                    @for (int i = 0; i < Model.ScheduleEntries.ToList().Capacity; i++)
                    {
                        <th scope="col" colspan="3">Activity @i</th>
                    }
                </tr>
                <tr>
                    @for (int i = 0; i < Model.ScheduleEntries.ToList().Capacity; i++)
                    {
                        <th scope="col">Grade</th>
                        <th scope="col">Attendance</th>
                        <th scope="col"></th>
                    }

                </tr>
            </thead>
            <tbody>
                @{ 
                    int lower = 0;
                    int upper = Model.ScheduleEntries.ToList().Capacity;
                }
                @for (var iterator = 0; iterator < Model.StudentsOnActivity.ToList().Capacity; iterator++)
                {
                    <tr>
                        <th scope="row" rowspan="2">@Model.StudentsOnActivity.ElementAt(iterator).Name</th>
                    </tr>

                    <tr>
                        @for (int i = lower; i < upper; i++)
                        {
                            <th scope="row">@Model.ActivityInfos.ElementAt(i).Grade</th>
                            <th scope="row">@Model.ActivityInfos.ElementAt(i).Attendance</th>
                            <td>
                                <a asp-route="EditGrades" asp-route-id="@Model.ActivityInfos.ElementAt(i).Id" asp-route-id1="@Model.StudentsOnActivity.ElementAt(iterator).Id">Edit</a>
                            </td>
                        }
                        @{ 
                            lower = upper;
                            upper += upper;
                        }
                        
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}